# HAProxy configuration file
global
  maxconn 20000

defaults
  mode http
  timeout connect 1s
  timeout client 5s
  timeout server 5s

frontend fe
  bind *:9999
  default_backend be

backend be
  balance roundrobin
  server api1 api-1:8080 check
  server api2 api-2:8080 check
